<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/element.css" />
    <link rel="stylesheet" href="./css/excel.css" />
  </head>
  <body>
    <div id="app">
      <div class="content">
        <div class="worksheet">
          <div
            class="row"
            v-for="(item, indexz) in worksheetItem"
            :style="{height: item[0].height * 5 + 'px', 'border-bottom': indexz === worksheetItem.length - 1 ? '1px solid #409eff' : 'none' }"
          >
            <template v-for="(col,index) in item">
              <div
                v-if="!col.merge"
                :style="{visibility: (col.value || index === 0) ? 'visible' : 'hidden'}"
                class="line"
              ></div>
              <div
                v-if="!col.merge"
                class="col"
                :style="{
            width: col.width * 8 + 'px',
          }"
              >
                <pre>{{ col.value }}</pre>
              </div>
            </template>
          </div>
          <div class="container">
            <div class="left" @click="moveLeft"></div>
            <div class="worksheetnameblock" ref="worksheet">
              <div
                v-for="(item,index) in worksheet"
                class="worksheetname"
                :class="{active: activeindex == index}"
                @click="tabworksheet(index)"
              >
                {{ item.name }}
              </div>
            </div>
            <div class="right" @click="moveRight"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/excelReview.js"></script>
  </body>
</html>
<!-- 引入 Vue -->
<script src="./js/vuenext.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/axios.js"></script>
<script>
  const App = {
    data() {
      return {
        message: '123',
        worksheet: [],
        worksheetItem: [],
        screenWidth: document.documentElement.clientWidth,
        moveDistance: 0,
        activeindex: 0,
      };
    },
    mounted() {
      const excelname = this.getQuery(window.location).excelname;
      this.loadExcel(decodeURIComponent(excelname));
      this.keyDown();
    },
    methods: {
      getQuery: function (uri) {
        var arr;
        if (typeof uri === 'string') {
          arr = uri.substr(1).split(/[?=&#]/gi);
        } else if (typeof uri === 'object' && typeof uri.search === 'string') {
          arr = uri.search.substr(1).split(/[?=&#]/gi);
        } else {
          arr = location.search.substr(1).split(/[?=&#]/gi);
        }
        var query = {};
        for (var i = 0, l = arr.length; i < l; i++) {
          if (arr[i]) {
            query[arr[i]] = arr[++i];
          }
        }
        return query;
      },
      // 解析ecel
      loadExcel: function (excelname) {
        axios
          .get('/readexcel', {
            params: {
              excelname: excelname,
            },
          })
          .then((res) => {
            var workArrWidth = [];
            var workArrHeight = [];
            var newData = res.data;
            if (newData && newData.length > 0) {
              newData.forEach((worksheetz) => {
                var lastWidth = [];
                var lastHeight = [];
                worksheetz.data.forEach((item) => {
                  var lastHeightSingle = 0;
                  item.forEach((col, index) => {
                    if (!lastWidth[index]) {
                      lastWidth[index] = col.width;
                    } else {
                      if (lastWidth[index] < col.width) {
                        lastWidth[index] = col.width;
                      }
                    }
                    if (col.height > lastHeightSingle) {
                      lastHeightSingle = col.height;
                    }
                    /* if (!lastHeight[index]) {
                lastHeight[index] = col.height;
              } else {
                if (lastHeight[index] < col.height) {
                  lastHeight[index] = col.height;
                }
              } */
                  });
                  lastHeight.push(lastHeightSingle);
                });

                worksheetz.data.forEach((item) => {
                  item.forEach((col, index) => {
                    col.width = lastWidth[index];
                    // col.height = lastHeight[index];
                  });
                });
                workArrWidth.push(lastWidth);
                workArrHeight.push(lastHeight);
              });
            }
            this.worksheet = newData;
            this.worksheetItem = newData[0].data;
          });
      },

      // 切换工作表格
      tabworksheet: function (index) {
        this.worksheetItem = this.worksheet[index].data;
        this.activeindex = index;
        this.$nextTick(() => {
          document.documentElement.scrollTop = 0;
        });
      },

      keyDown: function () {
        document.onkeydown = (e) => {
          if (e.keyCode === 39) {
            this.moveRight();
          }
          if (e.keyCode === 37) {
            this.moveLeft();
          }
        };
      },
      // 右移动
      moveRight: function () {
        var lastChild = document.querySelector(
          '.worksheetnameblock',
        ).lastElementChild;
        if (this.screenWidth > lastChild.getBoundingClientRect().right - 30) {
          return false;
        }
        this.moveDistance = this.moveDistance + 200;
        this.$refs.worksheet.style.transform = `translateX(-${this.moveDistance}px)`;
      },

      // 左移动
      moveLeft: function () {
        if (this.moveDistance > 0) {
          this.moveDistance = this.moveDistance - 200;
          this.$refs.worksheet.style.transform = `translateX(-${this.moveDistance}px)`;
        } else {
          this.moveDistance = 0;
          this.$refs.worksheet.style.transform = `translateX(0px)`;
        }
      },
    },
  };

  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount('#app');
</script>
